@model Proyecto1.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h4 class="text-center" style="color: #d63384;">Productos</h4>
    <hr style="border-color: #f8d3e2;" />

    <dl class="row">
        <dt class="col-sm-4 font-weight-bold" style="color: #d63384;">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4 font-weight-bold" style="color: #d63384;">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <div class="text-center mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn" style="background-color: #f8d3e2; color: #d63384;">Editar</a></a>
        <span class="mx-2">|</span>
        <a asp-action="Index" class="btn btn-link" style="color: #d63384;">Volver a la lista</a>
    </div>
</div>

